@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

html, body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Radio Canada', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    padding: 0;
    margin: 0;
}

#header {
    background-color: rgb(16, 28, 44);
    color: white;
    padding: 18px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    position: relative;
}

#header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
    border-bottom: 6px solid #3993e1;
}

#header-top, #nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#tickets {
    font-size: 15px;
}

.nav-item {
    font-size: 14px;
}

#main-background {
    background-color: #e5e6e8;
    flex: 1;
    padding: 14px;
}

#main {
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qr-container {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
    padding: 25px 0;
    width: 100%;
}

#qr {
    height: 100%;
    aspect-ratio: 1;
}

#ticket-title {
    /* background-color: rgb(174, 232, 201); */
    font-size: 23px;
    font-weight: bold;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}

#details-container {
    /* background-color: rgb(241, 241, 179); */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 23px;
    box-sizing: border-box;
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.details-text {
    font-size: 18px;
    font-weight: bold;
}

.divider {
    width: 100%;
    background-color: #dedede;
    height: 2px;
    border: none;
    border-radius: 1px;
}

#valid-from-container {
    /* background-color: rgb(255, 205, 229); */
    width: 100%;
    text-align: center;
    padding: 4px 0 21px 0;
}

#valid-from-text, #expires-text, #serial-text, #more-details-text {
    font-weight: 600;
    font-size: 13px;
}

#stamp-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

#stamp {
    background-color: #e67097;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    transform-origin: center center;
    transition: transform 0.1s ease-out;
}

#stamp-text, #expires-time {
    font-size: 26px;
    font-weight: bold;
}

#stamp-text{
    transition: opacity 0.8s;
    opacity: 1;
}

#expires-container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#expires-time {
    margin-top: 5px;
}

#serial-container {
    background-color: #e6e7e9;
    padding: 6px 0;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

#more-details-text {
    padding: 26px 0;
    color: #50a085;
}

#options-container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(16, 28, 44);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.options-input{
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 18px;
    border-radius: 2px;
    color: white;
    background-color: rgba(255, 255, 255, 0.244);
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 15px 0;
    width: 200px;
}

/* #enter-button-container{
    margin: 30px 0;

} */

#enter-button{
    font-size: 18px;
    margin: 30px 0;
    padding: 10px 20px;
    background-color: #1f826c;
    color: white;
    border: none;
    width: fit-content;
    border-radius: 2px;
}