
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'circ';
    src: url('fonts/circ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    font-family: 'Product Sans', sans-serif;
    font-weight: 500;
    flex-direction: column;
    background-color: rgb(16, 28, 44);
}

p,i{
    margin: 0;
    padding: 0;
}

#header,#navbar{
    background-color: rgb(16, 28, 44);
    color: white;
    /* font-weight: bold; */
    /* font-style: thin; */
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    text-align: center;
    padding: 0 16px;
}

#header{
    padding-top: 16px;
    padding-bottom: 20px;
}

.header-icon{
    font-size: 20px;
}

#navbar{
    /* padding-top: 12px; */
    padding-bottom: 12px;
    position: relative;
}

.navbar-item {
    color: white;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    opacity: 1; /* Initial opacity */
    transition: opacity 0.1s; /* Transition effect for opacity */
}

.navbar-item:hover {
    animation: fadeIn 0.6s forwards; /* Trigger animation on hover */
}

/* Define keyframes for the fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

#navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 33%;
    border-bottom: 5px solid #3993e1;
    transition: left 0.3s ease;
}

#navbar.active-0::after {
    left: 0%;
}

#navbar.active-1::after {
    left: 33%;
}

#navbar.active-2::after {
    left: 70%;
}

#main{
    flex: 1;
}

.main-section {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    display: none;
}

.main-section.visible {
    opacity: 1;
    display: flex;
    flex-direction: column;
}

#active-tickets{
    height: 100%;
    background-color: #32414f;
    /* opacity: 1;
    display: flex;
    flex-direction: column; */
}

#my-tickets{
    height: 100%;
    background-color: white;
    /* display: none;
    flex-direction: column; */
}

#buy-tickets{
    height: 100%;
    background-color: rgb(206, 206, 206);
    /* display: none;
    flex-direction: column; */
}

#side-menu-background{
    visibility: hidden;
    opacity: 0;
    background-color: rgba(160, 160, 160, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    transition: opacity 0.5s ease, visibility 0.5s;
}

#side-menu{
    background-color: white;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 80%;
    left: -100%;
    transition: left 0.3s ease-in;
    display: flex;
    flex-direction: column;
}

#side-menu-background.visible {
    visibility: visible;
    opacity: 1;
}

#side-menu.visible {
    left: 0;
}

#side-menu-top{
    width: 100%;
    height: 30%;
    background-color: #e5e6e8;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

#profile-icon{
    flex: 1;
    width: 100%;
    background-image: url('images/profile.png');
    background-size: 14%;
    background-position: center;
    background-repeat: no-repeat;
}

#profile-name{
    font-size: 15px;
    font-family: 'Product Sans', sans-serif;
    font-weight: 400;
    /* font-weight: lighter/; */
}

#my-account{
    font-size: 15px;
    font-family: 'Product Sans', sans-serif;
    font-weight: 500;
    border: none;
    background-color: #388166;
    color: white;
    padding: 10px 18px;
    border-radius: 3px;
    margin-top: 8px;
}
#side-menu-bottom{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.sc-green{
    color: #388166;
}

#side-menu-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 18px;
    row-gap: 24px;
    flex: 1;
}

.side-menu-nav-item{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.side-menu-nav-item i{
    margin-right: 8px;
    font-size: 20px;
}
.side-menu-nav-item p{
    font-size: 18px;
}

#side-menu-footer{
    margin-top: auto;
    margin-bottom: 18%;
}

#ukb{
    margin-top: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

#side-menu-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 18px;
}

#help-and-faqs{
    font-weight: 900;
    font-size: 15px;
}
