@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    font-family: 'roboto', sans-serif;
    background-color: rgb(20, 20, 20);
    padding: 0;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

p, i, a, h1, h2, h3 {
    margin: 0;
}

button {
    cursor: pointer;
}

#header {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 32px 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
}

.friends-button {
    font-size: 18px;
}

.profile-pic {
    background-color: rgb(63, 128, 63);
    height: 65%;
    aspect-ratio: 1;
    padding: 8px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border-radius: 999px;
    display: flex;
}

#camera-view {
    flex: 1;
    width: 90%;
    position: relative;
}

#camera-stream, canvas {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
    border: solid 1px rgb(245, 245, 245);
}

#back-camera-stream {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30%; /* Adjust size as needed */
    aspect-ratio: 1; /* Maintain aspect ratio */
    border-radius: 18px;
    border: solid 1px rgb(245, 245, 245);
    object-fit: cover;
}

#controls {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#photo-button {
    height: 80px;
    width: 80px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0);
    border: 6px solid white;
}

#send-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-weight: 900;
    font-size: 32px;
}
